
.main {
  &__section {
    padding-top: 150px;
    margin: 0 auto;
  }
}

.arrow-up {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 24px;
  height: 24px;
  background: center / contain no-repeat url(../../images/svg/arrow-up.svg);

  @include hover(opacity, 0.7);
}

@media (max-width: $res-notebook) {
  .main {
    &__section {
      padding-top: 130px;
    }
  }
}

@media (max-width: $res-mobile) {
  .main {
    &__section {
      padding-top: 89px;
    }
  }
}
