h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

button {
  background: none;
  border: none;
}

p {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

textarea,
input {
  border: none;
  outline: none;
}
